<a href="https://colab.research.google.com/github/gitdooz/AulaFrontEnd/blob/main/Aula_03_10_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
lista_frutas = ['banana','laranja','maçã','abacate','uva']

print(lista_frutas[2])

maçã

In [11]:
numero = int(input("Digite um número: "))

if numero%2 == 0:
  print(f"O número {numero} é par.")
else:
  print(f"O número {numero} não é par.")

Digite um número: 90
O número 90 é par.

In [14]:
numero = int(input("Digite um número: "))

if numero <= 0:
  if numero == 0:
    print("Este é o numeral 0.")
  else:
    print(f"O número {numero} é negativo.")

else:
  print(f"O número {numero} é positivo.")

Digite um número: 0
Este é o numeral 0.

In [17]:
numero = int(input("Digite um número: "))

print(f"A tabuada do número {numero} é:")
for i in range(1,11):
  tabuada = numero*i
  print(f"{numero} x {i} = {tabuada}")

Digite um número: 9
A tabuada do número 9 é:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [21]:
numeros = []

for i in range(1,6):
  numero = int(input(f"Digite o {i} número: "))
  numeros.append(numero)

print(f"O maior número é {max(numeros)} e o menor é {min(numeros)}.")

Digite o 1 número: 2
Digite o 2 número: 499
Digite o 3 número: 500
Digite o 4 número: 20
Digite o 5 número: 1
O maior número é 500 e o menor é 1.

In [25]:
numeros = []

for i in range(1,5):
  numero = int(input(f"Digite o {i} número: "))
  numeros.append(numero)
  if numero % 3 == 0:
    print("Faz o M.")

Digite o 1 número: 30
Faz o M.
Digite o 2 número: 25
Digite o 3 número: 24
Faz o M.
Digite o 4 número: 4

In [36]:
numeros = [1,2,3,4,5,6,7,8,9,10]

for i in numeros:
  if i % 2 == 0:
    print(i)

2
4
6
8
10